<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': getClassgroup()[0],
                'list-group-item-danger': getClassgroup()[1]}">
	
	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
			<h3 class="text-left">
				{{ post.title }}
			</h3>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
			<h5 class="text-right">
				<i>{{ post.created_at | date: 'short' | uppercase }}</i>
			</h5>
		</div>
	</div>






	<hr style="color: black; border: 1px dashed black;" />
	<p class="text-justify" style="color: black;">
		{{ post.content }}
	</p>
	<hr style="color: black; border: 1px dashed black;" />






	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 text-left">
			<span class="btn btn-success" (click)=loveit(true)>
				Love It!
			</span>
			&nbsp;
			<span class="btn btn-danger" (click)=loveit(false)>
				Don't love It!
			</span>
		</div>

		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-right">
			<span class="text-right">
				<i>Love It : {{ post.loveIts }}</i>
			</span>
		</div>
	</div>


</li>
