<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <br /><br />
      <h1 class="text-center">Posts</h1>
      <br />

      <app-post-list-component [posts]=posts></app-post-list-component>

    </div>
  </div>
</div>
